<div class="w-full flex shadow-2xl p-5 rounded-2xl">
  <div class="w-[60%] p-6">
    <div class="mb-3">
      <fieldset class="fieldset">
        <legend class="fieldset-legend text-lg">ชื่อผู้ใช้งาน</legend>
        <input
          type="text"
          class="input w-full"
          placeholder="example"
          [(ngModel)]="username"
          [disabled]="!isEditable()"
        />
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend text-lg">อีเมล</legend>
        <input
          type="text"
          class="input w-full"
          placeholder="example@mail.com"
          [(ngModel)]="email"
          [disabled]="!isEditable()"
        />
      </fieldset>
    </div>
    @if (!isEditable()) {
      <div class="mb-3">
        <fieldset class="fieldset">
          <legend class="fieldset-legend text-lg">รหัสผ่าน</legend>
          <input
            type="password"
            class="input w-full"
            placeholder="*******"
            [disabled]="!isEditable()"
          />
        </fieldset>
      </div>
    } @else {
      <div class="mb-3">
        <fieldset class="fieldset">
          <legend class="fieldset-legend text-lg">รหัสผ่านเดิม</legend>
          <app-password-input placeholder="*****" [(ngModel)]="oldPassword" />
        </fieldset>
      </div>
      <div class="mb-3">
        <fieldset class="fieldset">
          <legend class="fieldset-legend text-lg">รหัสผ่านใหม่</legend>
          <app-password-input placeholder="*****" [(ngModel)]="newPassword" />
        </fieldset>
      </div>
      <div class="mb-3">
        <fieldset class="fieldset">
          <legend class="fieldset-legend text-lg">ยืนยันรหัสผ่านใหม่</legend>
          <app-password-input
            placeholder="*****"
            [(ngModel)]="confirmPassword"
          />
        </fieldset>
      </div>
    }

    @if (!isEditable()) {
      <div class="flex justify-end">
        <button class="btn btn-warning" (click)="handleEditClick()">
          <lucide-icon [img]="PenIcon"></lucide-icon>
          แก้ไข
        </button>
      </div>
    } @else {
      <div class="flex gap-5 justify-end">
        <button class="btn btn-host" (click)="undoProfile()">ยกเลิก</button>

        <button class="btn btn-primary" (click)="handleSaveClick()">
          <lucide-icon [img]="SaveIcon"></lucide-icon>
          บันทึก
        </button>
      </div>
    }
  </div>

  <div class="flex-1 flex flex-col gap-5 items-center">
    <div class="rounded-2xl max-w-52 max-h-52 overflow-hidden">
      <img
        [src]="previewImage() || currentImage() || '/profile.webp'"
        alt="Profile"
        (error)="onImageError()"
      />

      <input
        *ngIf="isEditable()"
        type="file"
        class="file-input"
        accept="image/jpeg, image/png"
        (change)="onImageSelected($event)"
      />
    </div>
    @if (isEditable()) {
      <div>
        <input
          (change)="onImageAttachmentChange($event)"
          type="file"
          class="file-input"
          accept="image/jpeg, image/png"
        />
      </div>
    }
  </div>
</div>
