<div class="flex h-screen">
  <div
    class="bg-gray-800 w-64 text-white transition-all duration-300 flex flex-col overflow-hidden overflow-y-auto"
  >
    <div
      class="font-bold text-4xl text-nowrap text-center m-5 p-2 rounded-2xl hover:bg-gray-600"
    >
      <a routerLink="/admin" class="flex flex-col gap-2">
        <span>Game Shop</span>
        <span>Back Office</span>
      </a>
    </div>

    <nav class="flex-1 mt-2">
      <ul>
        <button class="w-full">
          <li
            routerLinkActive="bg-gray-900"
            class="relative p-3 mx-2.5 hover:bg-gray-700 rounded flex items-center gap-2 cursor-pointer"
          >
            <lucide-icon [img]="UserIcon"></lucide-icon>
            <span class="transition-opacity text-nowrap">
              {{ currentUser()?.username }}
            </span>
          </li>
        </button>

        <button routerLink="/admin/game-management" class="w-full">
          <li
            routerLinkActive="bg-gray-900"
            class="relative p-3 mx-2.5 hover:bg-gray-700 rounded flex items-center gap-2 cursor-pointer"
          >
            <lucide-icon [img]="Gamepad2Icon"></lucide-icon>
            <span class="transition-opacity text-nowrap"> จัดการเกม </span>
          </li>
        </button>

        <button routerLink="/admin/category-management" class="w-full">
          <li
            routerLinkActive="bg-gray-900"
            class="relative p-3 mx-2.5 hover:bg-gray-700 rounded flex items-center gap-2 cursor-pointer"
          >
            <lucide-icon [img]="Gamepad2Icon"></lucide-icon>
            <span class="transition-opacity text-nowrap">
              จัดการประเภทเกม
            </span>
          </li>
        </button>

        <button routerLink="/admin/coupon-management" class="w-full">
          <li
            routerLinkActive="bg-gray-900"
            class="relative p-3 mx-2.5 hover:bg-gray-700 rounded flex items-center gap-2 cursor-pointer"
          >
            <lucide-icon [img]="TicketIcon"></lucide-icon>
            <span class="transition-opacity text-nowrap"> จัดการส่วนลด </span>
          </li>
        </button>

        <button routerLink="/admin/transaction-history" class="w-full">
          <li
            routerLinkActive="bg-gray-900"
            class="relative p-3 mx-2.5 hover:bg-gray-700 rounded flex items-center gap-2 cursor-pointer"
          >
            <lucide-icon [img]="ScanBarcodeIcon"></lucide-icon>
            <span class="transition-opacity text-nowrap">
              ประวัติการสั่งซื้อ
            </span>
          </li>
        </button>

        <button routerLink="/admin/topup-history" class="w-full">
          <li
            routerLinkActive="bg-gray-900"
            class="relative p-3 mx-2.5 hover:bg-gray-700 rounded flex items-center gap-2 cursor-pointer"
          >
            <lucide-icon [img]="ScanBarcodeIcon"></lucide-icon>
            <span class="transition-opacity text-nowrap">
              ประวัติการเติมเงิน
            </span>
          </li>
        </button>

        <hr class="m-3" />

        <button class="w-full mt-2" (click)="handleLogout()">
          <li
            class="p-3 mx-2.5 hover:bg-gray-700 rounded flex items-center gap-2 cursor-pointer"
          >
            <lucide-icon [img]="LogOutIcon"></lucide-icon>
            <span class="transition-opacity text-nowrap"> ออกจากระบบ </span>
          </li>
        </button>
      </ul>
    </nav>
  </div>
</div>
